.page-header {
  font-size: 60px;
  font-style: italic;
  color: #1111de;
  border: 2px solid #000000;
  padding: 5px;}

.carousel-caption {
  color: #000000;
  background-color: #ffffff;}

ul {
  background-color: #a7a7a7;
  font-size: 18px;
  margin-top: 20px;
  }

h1 {
  color: #1111de;}
h2 {
  color: #1111de;}
h3 {
  color: #1111de;
  text-decoration: underline;}



.navbar-default {
  background-color: #a7a7a7;}

.btn-default {
  background-color: #d5d5d5;
  color: #1111de;}

ins {
  text-decoration: underline;
  color: #1111de;
 }

  

