
.page-header {
  font-size: 72px;
  font-style: italic;
  color: #1111de;}

.carousel-caption {
  color: #000000;
  background-color: #ffffff;}

.navbar navbar-default {
  border-color: #000000;}

  

